<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133653199403-f0gjm2c7f56vpasvfg00gut74sbs6174.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133653199403-f0gjm2c7f56vpasvfg00gut74sbs6174</string>
	<key>API_KEY</key>
	<string>AIzaSyAKW8jkW84U--r8jf5OqCLG7aXOQBjcZmg</string>
	<key>GCM_SENDER_ID</key>
	<string>133653199403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oddinstitute.Moush-iOS</string>
	<key>PROJECT_ID</key>
	<string>moush-3d0bc</string>
	<key>STORAGE_BUCKET</key>
	<string>moush-3d0bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133653199403:ios:edfd728454d47daac6c86e</string>
	<key>DATABASE_URL</key>
	<string>https://moush-3d0bc-default-rtdb.firebaseio.com</string>
</dict>
</plist>