<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.133653199403-n7rcvqmm2f2c1b64nbctejuh7leiue81</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>133653199403-n7rcvqmm2f2c1b64nbctejuh7leiue81.apps.googleusercontent.com</string>
</dict>
</plist>
